 <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3">
                <div class="account-wall" style="padding: 20px;">
                    <legend><a href="#"><i class="glyphicon glyphicon-globe"></i></a> Cadastro de Veículo</legend>
                    <form action="#" method="post" class="form" role="form">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="placa" placeholder="Placa" type="text" required="" autofocus="">
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="prefixo" placeholder="Prefixo" type="text" required="">
                            </div>
                        </div>
                        <input class="form-control" name="coodigobarra" placeholder="Código de Barra" type="text" required="">
                        
                        <input class="form-control" name="nomecliente" placeholder="Nome do Cliente" type="text" required="">

                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Gravar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>