 <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3">
                <div class="account-wall" style="padding: 20px;">
                    <legend><a href="#"><i class="glyphicon glyphicon-globe"></i></a> Entrada de Combustível</legend>
                    <form action="#" method="post" class="form" role="form">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="firstname" placeholder="QTDE em Litros" type="text" required="" autofocus="">
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="lastname" placeholder="Valor Pgto do Litro" type="text" required="">
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="nf" placeholder="N.F." type="number" required="" autofocus="">
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="tipocombustivel" placeholder="Tipo Compustível" type="text" required="">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="valorcusto" placeholder="Valor de Custo" type="number" required="" autofocus="">
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="total" placeholder="Total" type="text" required="">
                            </div>
                        </div>

                        <textarea class="form-control" name="password" placeholder="Descrição/Histórico" type="password" ></textarea>

                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Ok</button>
                    </form>
                </div>
            </div>
        </div>
    </div>