<div class="span12">
  <div class="alert" style="width=100%">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>
        Usuário sem sessão
        </h4> 
        <hr/>
        <div style="text-align: center;">
        <button class="btn btn-large btn-success" ng-click="sair()">Autenticar agora</button>
        
        </div>
  </div>

</div>
