
<div class="span2"><div class="accordion" id="accordion-87476"><div class="accordion-group" ng-repeat="menu in listMenu">
<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-menu{menu.id}" ng-href="#accordion-element{{ menu.id }}">{{menu.name}}</a></div>
<div id="accordion-element{menu.id}" class="accordion-body collapse in"><div class="accordion-inner" ng-repeat="subMenu in menu.listSubMenu"><a ng-href="#/{{ subMenu.link }}" style="color : black" class="btn btn-link">{{subMenu.name}}</a></div></div>
</div></div></div><div class="span10">
<div class="page-header"><h1>
Lista de Produto<br><small style="font-size: 18px;">Gerenciamento</small>
</h1></div>
<div class="alert alert-{{info.type}}">{{info.msg}}</div>
<div align="left"><a class="btn btn-success" ng-href="#/produto">Incluir Produto</a></div>
<hr>
<table class="table table-hover table-condensed">
<thead><tr>
<th>Nome</th>
<th>Código de Barra</th>
<th>Descrição</th>
<th>Resumo</th>
<th>Unidade</th>
<th>Peso</th>
<th>Fornecedor</th>
<th>
Opções
</th>
</tr></thead>
<tbody><tr ng-repeat="produto in produtos">
<td>
{{produto.nome}}
</td>
<td>
{{produto.codbarra}}
</td>
<td>
{{produto.descricao}}
</td>
<td>
{{produto.resumo}}
</td>
<td>
{{produto.unidade}}
</td>
<td>
{{produto.peso}}
</td>
<td>
{{produto.fornecedor}}
</td>
<td>
<a class="btn btn-info" ng-href="#/produto/{{ produto._id }}">Editar</a><a class="btn btn-danger" id="modal-{{ produto._id }}" ng-href="#modal-container-{{ produto._id }}" role="button" data-toggle="modal">Excluir</a><div id="modal-container-{{ produto._id }}" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="myModalLabel">
Exclusão
</h3>
</div>
<div class="modal-body"><p>
Deseja excluir #{{produto._id}}?
</p></div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Não Excluir</button><button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" ng-click="excluir(produto)">Excluir</button>
</div>
</div>
</td>
</tr></tbody>
</table>
</div>

