<div class="span12">
  <div class="alert" style="width=100%">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 style="text-align: center;">
        Deseja sair da aplicação ?
        </h4> 
        <hr/>
        <div style="text-align: center;">
        <button class="btn btn-large btn-success" ng-click="sair()">Sim</button>
        <a href="#/home" class="btn btn-large btn-warning">Não</a>
        </div>
  </div>

</div>
